@import url("styles/header.css");


:root {
    --cor-de-fundo: #EBECEE;
    --branco: #FFFFFF;
}

body {
    background-color: var(--cor-de-fundo);
}

/* código omitido */

:root {

    /* código omitido */
    
        --laranja: #EB9B00;
    }
    
    /* código omitido */